@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center; 
  /* align-items: center;      */
  height: 100vh;           
  margin: 0;    
  background-color: rgb(12, 10, 10);
  color: white;           
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif; 

}
